@font-face {
    font-family: 'AudioWide';
    src: url('../fonts/Audiowide-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
}



.background{
    background-image: url('../img/background-servico-equipe.png');
    background-size: cover;
}

/* ---------------------- NAVBAR ------------------------*/

ul{
    list-style: none;
}

h1, h2, p{
    margin: 0;
}
a {
    text-decoration: none;
}

nav .container-fluid .box-logos{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

nav .container-fluid .box-logos h1{
    margin: 0;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
   
    color: #493A8B;
}

nav .container-fluid ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    
}

nav .container-fluid ul li a{
  
    color: #493A8B!important;
}

/*---------------------------- PRIMEIRA PARTE ---------------------------*/

.main .primeira-parte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
}

.main .primeira-parte .textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;    
}


.main .primeira-parte .textos .titulo{
    display: flex;
    flex-direction: column;
    align-items: center; 
}




.main .primeira-parte .textos .subtitulo{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 148.33%;
    color: #1A1462;
}

.main .primeira-parte .textos .subtitulo p{
    
   text-align: center;
}

.main .primeira-parte h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 117%;
    color: #493A8B;
}

.main .primeira-parte h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 117%;
    color: #9056E8;
    margin-bottom: 10px;
}


.main .primeira-parte .box-btn{
    margin-top: 15px;
}

.main .primeira-parte button{
    width: 170px;
    height: 50px;
    font-weight: 500;
    font-family: 'Poppins';
    background: #9056E8;
    border-radius: 30px;
    color: white;
    border: 0;
}

.main .primeira-parte button:hover{
    background: #7931e4;
   
}



/*---------------------------- SOBRE NÓS ---------------------------*/


.main .sobrenos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.main .sobrenos .box-logomarca{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .sobrenos .box-logomarca img{
    
    width: 240px;
    margin-bottom: 15px;
}

.main .sobrenos .sobrenos-informacao{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .sobrenos .sobrenos-informacao .titulo-sobrenos h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.2rem;
line-height: 48px;
color: #9056E8;


}


.main .sobrenos .texto-sobrenos{
    margin-top: 10px;


}

.main .sobrenos .texto-sobrenos p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A1462;


}


/*------------------------------------ SERVIÇOS ----------------------------------*/

.main .servicos {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin-top: 100px;
}


.main .servicos .titulo-servicos h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.2rem;
line-height: 48px;
color: #9056E8;


}

/*------------- CARROSSEL-EQUIPE --------------*/

.carousel-control-next-icon {
    background-image: url('../img/arrow-right.png')!important;
}

.carousel-control-prev-icon {
    background-image: url('../img/left-arrow.png')!important;
}

.carousel-indicators{
    bottom: -24px!important;
}

.carousel-indicators [data-bs-target]{
    background-color: #7931e4;
    height: 4px;
}

/*------------------------------------ EQUIPE ----------------------------------*/

.main .equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 100px;
 }


.main .equipe .titulo-equipe h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.2rem;
line-height: 48px;
color: #9056E8;


}

.equipe .card-equipe {
    width: 14.875rem;
  height:  20.1875rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3.7037px 3.7037px rgba(0, 0, 0, 0.25);
  border-radius: 50.9259px;
  margin-top: 50px;
  }
  
  .card-equipe .profile-picture{
    height: 140px;
    width: 140px;
    border: 4px solid #9056E8;
    margin-top: 30px;
  }
  
  .card-equipe h1{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18.5185px;
  line-height: 28px;
  color: #9056E8;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 0;
  }
  
  .card-equipe p{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13.8889px;
  line-height: 21px;
  color: #595964;
  text-align: center;
  margin-top: 0;
  }
  
  .card-equipe .icons-card{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
  }
  
  .card-equipe .icon{
   height: 30px;
   width: 30px;
   
  }


  /*------------------------------------ PROJETO ----------------------------------*/


  .main .projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 100px;
 }


.main .projeto .titulo-projeto h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.2rem;
line-height: 48px;
color: #9056E8;


}

.main .projeto .img-projeto {
    width: 100%;


}

.main .projeto .img-projeto img {
   width: 90%;


}


.main .projeto .projeto-texto  {
    width: 75%;
 
 
 }

.main .projeto .projeto-texto p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13.8894px;
line-height: 169%;
color: #493A8B;
 
 
 }
 

/*------------------------------------ CONTATO ----------------------------------*/

.main .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: 100px;
 }


.main .contato .titulo-contato h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 1.2rem;
line-height: 48px;
color: #9056E8;


}

.main .contato form{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 80%;
    background: #D9D9D9;
    box-shadow: 0px 2.33639px 10.5138px 6.42508px rgba(0, 0, 0, 0.25);
    border-radius: 17.5229px;
    height: 500px;
}

.main .contato form .titulo-form{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.main .contato form .titulo-form h1{ 
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14.0183px;
line-height: 21px;
color: #9056E8;
}



.main .contato form input{
    
    border: 0;
    background: #C4C4CC;
    border-radius: 11.682px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 9.34557px;
    height: 30px;
    width: 240px;
    margin-bottom: 25px;
    padding: 10px;

}

.main .contato form textarea{
    
    border: 0;
    background: #C4C4CC;
    border-radius: 11.682px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 9.34557px;
    
    width: 240px;
    margin-bottom: 25px;
    padding: 10px;

}

.main .contato form button{
    
    background: #9056E8;
    box-shadow: 0px 1.75229px 4.67278px 2.33639px rgba(0, 0, 0, 0.25);
    border-radius: 17.5229px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14.0183px;
    line-height: 21px;
    height: 40px;
    width: 140px;
    border: 0;
    color: #FFFFFF;

}


/*------------------------------------ FOOTER ----------------------------------*/


.main .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    margin-top: 100px;
    background-color:  #E1E1E6;
    
} 

.main .footer .footer-navegacao {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: flex-start;
    
} 

.main .footer ul li {
   margin-bottom: 15px;
}

.main .footer ul li h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16.3977px;
    line-height: 25px;
    color: #493A8B;
}

.main .footer ul li h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15.6169px;
    line-height: 23px;
    color: #493A8B;
}

.main .footer .inicio-footer {
    width: 33%;
    display: flex;
    justify-content: center;
} 

.main .footer  .sobrenos-footer {
    width: 33%;
    display: flex;
    justify-content: center;
} 

.main .footer .suporte-footer{
    width: 33%;
    display: flex;
    justify-content: center;
} 


.main .footer .footer-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-top: 25px;
   
} 

.main .footer .footer-contato .texto-contato-footer h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17.2997px;
    line-height: 26px;
    color: #493A8B;
} 


.main .footer .footer-contato .icons-contato-footer{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    width: 40%;
} 


.main .footer .footer-contato .email-contato-footer h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17.2997px;
    line-height: 26px;
    color: #493A8B;
} 


.main .footer .footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-top: 50px;
} 

.main .footer .footer-copyright .texto-copyright-footer h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15.9121px;
    line-height: 24px;
    color: #493A8B;
} 





